@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

body {
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
}
.content p,
.content blockquote {
  margin-bottom: 1rem;
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background: white;
}

.image-custom {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.light {
  --theme-bg: 255 255 255;
  --theme-fbg: 246 246 247;
  --theme-fcard: 255 255 255;
  --theme-border: 232 232 234;
  --theme-fborder: 220 221 223;

  --theme-maintext: 24 26 42;
  --theme-subtext1: 59 60 74;
  --theme-subtext2: 105 106 117;
  --theme-subtext3: 151 152 159;

  --theme-skeleton: 232 232 234;
  --theme-loading: 255 255 255;
  background: rgb(var(--theme-footer-bg));
  transition: all 0.3s;
}
.dark {
  --theme-bg: 24 26 42;
  --theme-fbg: 20 22 36;
  --theme-fcard: 36 37 53;
  --theme-border: 36 37 53;
  --theme-fborder: 36 37 53;

  --theme-maintext: 255 255 255;
  --theme-subtext1: 186 186 191;
  --theme-subtext2: 151 152 159;
  --theme-subtext3: 151 152 159;

  --theme-skeleton: 59 60 74;
  --theme-loading: 105 106 117;
  background: rgb(var(--theme-footer-bg));
  transition: all 0.3s;
}

h1 {
  @apply text-2xl font-bold;
}
h2 {
  @apply text-xl font-bold;
}
h3 {
  @apply text-lg font-bold;
}

@layer components {
  .max-container {
    max-width: 1216px;
    padding: 0.5rem;
    margin: 0 auto;
  }

  .max-container-blog {
    max-width: 640px;
    padding: 0.5rem;
    margin: 0 auto;
  }
}

@layer utilities {
  .theme-base {
    @apply bg-theme-bg text-theme-maintext;
  }

  .input-effect {
    @apply transition-all duration-300 ease-in-out hover:border-primary/50 focus:border-primary/60 focus:ring-4 focus:ring-primary/10;
  }

  .light .footer-input {
    @apply input-effect w-full rounded-md border border-secondary-200 bg-white py-3 pl-4 pr-9 outline-none;
  }

  .dark .footer-input {
    @apply input-effect w-full rounded-md border border-secondary-600 bg-secondary-800 py-3 pl-4 pr-9 outline-none;
  }

  .light .nav-input {
    @apply w-[166px] rounded-md bg-secondary py-2 pl-4 pr-8 outline-none placeholder:text-[#A1A1AA];
  }

  .dark .nav-input {
    @apply w-[166px] rounded-md bg-secondary-700 py-2 pl-4 pr-8 outline-none placeholder:text-[#A1A1AA];
  }

  .card-hover {
    @apply transform cursor-pointer border transition duration-300 hover:-translate-y-1 hover:scale-105 hover:shadow-lg;
  }
}
